{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block contenu %}
<ul><h1> Ce site a etait entièrement crée par Dark Luigi</h1></ul>
<ul><h1> L'entreprise est un marketing de matériel informatique (pc,processeur), on recupère tous pc obslète </h1>
<h1> mais aussi un centre de jeux vidéo, on recupère tous les jeux encore fonctionnel et
on informe sur tous les actualité vidéo ludique </h1>
<h1>On est partenaire avec Dash Prof pour le jeu Super smash bros Ultimate mais pas que,
donc on propose aussi du coaching sur un jeu celui que vous voulait (un jeu de combat) pas cher pour approfondir votre niveau</h1>
</ul>
{% endblock %} 