{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block contenu %} <h1>Ce site est un test </h1>
<h1>il a etait entièrement fait par Dark Luigi</h1>
<h1> l'entreprise est un marketing de matiriel informatique (pc,processeur) on recupère tous pc obslète </h1>
<h1> mais aussi un centre de jeux vidéo on a recupère tous les jeux encore fonctionnel
on informe sur tous les actualité vidéo ludique </h1>
<h1><li>et on est partenaire avec Dash Prof pour le jeu Super smash bros Ultimate mais pas que donc on revent tous ces godies </li>
<li>donc on propose aussi du coaching sur un jeu celui que vous voulait (un jeu de combat) pas cher pour apporfondir votre niveau</li></h1>
{% endblock %} 