{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block contenu %} <ul><h1>Bienvenue sur la Maison de l'imformatique </h1></ul> 
<ul><h1> Ici on vent tous ce qui est informatique et loisir </h1>
<h1> et on propose un coaching pas cher pour tous les jeux de combat a la mode en ce moment</h1></ul>
 {% endblock %} 
