{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block contenu %} 
<h1>Vous etes intérreser par notre coaching sur un jeu de combat</h1>
<!-- si l'utilisateur est connecté alors il pourrat choisir son jeu -->
<!-- puis le nombre d'heure et cela affichera le prix -->
<!-- cela mettra dans la base de donnée coaching-->
<h1>Desolè pour l'instant ce n'est pas disponible</h1>
<!--


-->
    
{% endblock %} 
