{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block contenu %} 
 <h1>Vous etes intérreser par notre coaching sur un jeu de combat</h1>
<h1>Desolè pour l'instant ce n'est pas disponible</h1>

    
{% endblock %} 
