{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Mention Legale {% endblock %}
{% block contenu %} <ul><li><h1>Mention a Dark Luigi cf Coquelle Gael ayant crée ce site pour nous</h1></li></ul>
<ul><li><h1>Mention a DashProf pour nous aider au coaching de certain jeux et pour etre notre partenaire principal</h1></li></ul>
<ul><li><h1>Mention aux Ocariknight pour l'aide qu'ils nous apportent etant un client regulier pour les jeux vidéo</h1></li></ul>
<ul><li><h1>Mention a Wario pour avoir donner le plus grand nombre de composant informatique</h1></li></ul>
{% endblock %} 
